@model IEnumerable<ProjectShoeShop.ViewModel.RankUserVM>
@foreach (var item in Model)
{
    <tr>
        <td>
            <div class="round-img">
               <img src="@item.ImagePath" width="35" height="35"  alt="">
            </div>
        </td>
        <td>@item.FullName</td>
        <td><span>@item.Email</span></td>
        <td><span>@item.Phone</span></td>
        <td><span>@item.ToTalMoney $</span></td>
    </tr>
}
